<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employe">
            <h2><span>Employe</span> {{employe.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Matricul</span></dt>
                <dd>
                    <span>{{employe.matricul}}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{employe.firstName}}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{employe.lastName}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{employe.email}}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{employe.phoneNumber}}</span>
                </dd>
                <dt><span>Equipe</span></dt>
                <dd>
                    <div *ngIf="employe.equipeId">
                        <a [routerLink]="['/equipe', employe.equipeId, 'view']">{{employe.equipeId}}</a>
                    </div>
                </dd>
                <dt><span>Domaine</span></dt>
                <dd>
                    <div *ngIf="employe.domaineId">
                        <a [routerLink]="['/domaine', employe.domaineId, 'view']">{{employe.domaineId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employe', employe.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
