<p>
    <button (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="advanced"
            class="btn btn-primary" type="button">
        Advanced Search
    </button>
</p>
<div [ngbCollapse]="isCollapsed" class="collapse card" id="advanced">
    <div class="form-inline card-body">
        <div class="form-group mx-sm-3 mb-2">
            <label class="form-control-label">Numéro: </label>
            <input #msisdn class="form-control-sm" id="msisdn"
                   onblur="document.getElementById('parent').disabled = (''!=this.value);
            document.querySelectorAll('[id=zone]').forEach(element => element.disabled = (''!=this.value));
            document.querySelectorAll('[id=partnerProfile]').forEach(element => element.disabled = (''!=this.value));"
                   placeholder="Entrer un numéro" type="text" [(ngModel)]="advancedSearchMsisdn"/>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label class="form-control-label" >Parent: </label>
            <input #parent class="form-control-sm" id="parent"
                   onblur="document.getElementById('msisdn').disabled = (''!=this.value);
            document.querySelectorAll('[id=zone]').forEach(element => element.disabled = (''!=this.value));
            document.querySelectorAll('[id=partnerProfile]').forEach(element => element.disabled = (''!=this.value));"
                   placeholder="Entrer un Parent" type="text" [(ngModel)]="advancedSearchParent"/>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label class="form-control-label">Zone: </label>
            <select #zone class="form-control-sm" name="zone" [(ngModel)]="advancedSearchZone">
                <option value=""></option>
                <option *ngFor="let zoneOption of zones;" id="zone"
                        value="{{ zoneOption.id }}">{{ zoneOption.name }}</option>
            </select>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label class="form-control-label">Profile: </label>
            <select #profile class="form-control-sm" name="partnerProfile" [(ngModel)]="advancedSearchProfile">
                <option value=""></option>
                <option *ngFor="let partnerProfileOption of partnerprofiles;" id="partnerProfile"
                        value="{{ partnerProfileOption.id }}">{{ partnerProfileOption.code }}</option>
            </select>
        </div>
        <button (click)="advancedSearch(msisdn.value,parent.value,zone.value,profile.value);"
                class="btn btn-sm mx-sm-3 mb-2 btn-primary">
            <fa-icon icon="search"></fa-icon>
            Chercher
        </button>
        <button (click)="advancedInit();" class="btn btn-sm mx-sm-2 mb-2 btn-primary">Init</button>

    </div>
</div>
<br/>
