<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="domaine">
            <h2><span>Domaine</span> {{domaine.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{domaine.nom}}</span>
                </dd>
                <dt><span>Nom Service</span></dt>
                <dd>
                    <span>{{domaine.nomService}}</span>
                </dd>
                <dt><span>Resp Service</span></dt>
                <dd>
                    <span>{{domaine.respService}}</span>
                </dd>
                <dt><span>Tel Resp Service</span></dt>
                <dd>
                    <span>{{domaine.telRespService}}</span>
                </dd>
                <dt><span>Email Resp Service</span></dt>
                <dd>
                    <span>{{domaine.emailRespService}}</span>
                </dd>
                <dt><span>Nom Division</span></dt>
                <dd>
                    <span>{{domaine.nomDivision}}</span>
                </dd>
                <dt><span>Resp Division</span></dt>
                <dd>
                    <span>{{domaine.respDivision}}</span>
                </dd>
                <dt><span>Tel Resp Division</span></dt>
                <dd>
                    <span>{{domaine.telRespDivision}}</span>
                </dd>
                <dt><span>Email Resp Division</span></dt>
                <dd>
                    <span>{{domaine.emailRespDivision}}</span>
                </dd>
                <dt><span>Nom Depart</span></dt>
                <dd>
                    <span>{{domaine.nomDepart}}</span>
                </dd>
                <dt><span>Resp Depart</span></dt>
                <dd>
                    <span>{{domaine.respDepart}}</span>
                </dd>
                <dt><span>Tel Resp Depart</span></dt>
                <dd>
                    <span>{{domaine.telRespDepart}}</span>
                </dd>
                <dt><span>Email Resp Depart</span></dt>
                <dd>
                    <span>{{domaine.emailRespDepart}}</span>
                </dd>
                <dt><span>Nom Direction</span></dt>
                <dd>
                    <span>{{domaine.nomDirection}}</span>
                </dd>
                <dt><span>Resp Direction</span></dt>
                <dd>
                    <span>{{domaine.respDirection}}</span>
                </dd>
                <dt><span>Tel Directeur</span></dt>
                <dd>
                    <span>{{domaine.telDirecteur}}</span>
                </dd>
                <dt><span>Email Directeur</span></dt>
                <dd>
                    <span>{{domaine.emailDirecteur}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/domaine', domaine.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
