<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-domaine-heading">Create or edit a Domaine</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                    <div *ngIf="editForm.get('nom').invalid && (editForm.get('nom').dirty || editForm.get('nom').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom').errors.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nomService">Nom Service</label>
                    <input type="text" class="form-control" name="nomService" id="field_nomService"
                           formControlName="nomService"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_respService">Resp Service</label>
                    <input type="text" class="form-control" name="respService" id="field_respService"
                           formControlName="respService"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_telRespService">Tel Resp Service</label>
                    <input type="text" class="form-control" name="telRespService" id="field_telRespService"
                           formControlName="telRespService"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_emailRespService">Email Resp Service</label>
                    <input type="text" class="form-control" name="emailRespService" id="field_emailRespService"
                           formControlName="emailRespService"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nomDivision">Nom Division</label>
                    <input type="text" class="form-control" name="nomDivision" id="field_nomDivision"
                           formControlName="nomDivision"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_respDivision">Resp Division</label>
                    <input type="text" class="form-control" name="respDivision" id="field_respDivision"
                           formControlName="respDivision"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_telRespDivision">Tel Resp Division</label>
                    <input type="text" class="form-control" name="telRespDivision" id="field_telRespDivision"
                           formControlName="telRespDivision"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_emailRespDivision">Email Resp Division</label>
                    <input type="text" class="form-control" name="emailRespDivision" id="field_emailRespDivision"
                           formControlName="emailRespDivision"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nomDepart">Nom Depart</label>
                    <input type="text" class="form-control" name="nomDepart" id="field_nomDepart"
                           formControlName="nomDepart"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_respDepart">Resp Depart</label>
                    <input type="text" class="form-control" name="respDepart" id="field_respDepart"
                           formControlName="respDepart"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_telRespDepart">Tel Resp Depart</label>
                    <input type="text" class="form-control" name="telRespDepart" id="field_telRespDepart"
                           formControlName="telRespDepart"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_emailRespDepart">Email Resp Depart</label>
                    <input type="text" class="form-control" name="emailRespDepart" id="field_emailRespDepart"
                           formControlName="emailRespDepart"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_nomDirection">Nom Direction</label>
                    <input type="text" class="form-control" name="nomDirection" id="field_nomDirection"
                           formControlName="nomDirection"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_respDirection">Resp Direction</label>
                    <input type="text" class="form-control" name="respDirection" id="field_respDirection"
                           formControlName="respDirection"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_telDirecteur">Tel Directeur</label>
                    <input type="text" class="form-control" name="telDirecteur" id="field_telDirecteur"
                           formControlName="telDirecteur"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_emailDirecteur">Email Directeur</label>
                    <input type="text" class="form-control" name="emailDirecteur" id="field_emailDirecteur"
                           formControlName="emailDirecteur"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
