<div>
    <h2 id="page-heading">
        <span>Domaines</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-domaine" [routerLink]="['/domaine/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Domaine
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="domaines?.length === 0">
        <span>No domaines found</span>
    </div>
    <div class="table-responsive" *ngIf="domaines?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nom"><span>Nom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nomService"><span>Nom Service</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="respService"><span>Resp Service</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telRespService"><span>Tel Resp Service</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="emailRespService"><span>Email Resp Service</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nomDivision"><span>Nom Division</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="respDivision"><span>Resp Division</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telRespDivision"><span>Tel Resp Division</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="emailRespDivision"><span>Email Resp Division</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nomDepart"><span>Nom Depart</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="respDepart"><span>Resp Depart</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telRespDepart"><span>Tel Resp Depart</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="emailRespDepart"><span>Email Resp Depart</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nomDirection"><span>Nom Direction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="respDirection"><span>Resp Direction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telDirecteur"><span>Tel Directeur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="emailDirecteur"><span>Email Directeur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let domaine of domaines ;trackBy: trackId">
                <td><a [routerLink]="['/domaine', domaine.id, 'view' ]">{{domaine.id}}</a></td>
                <td>{{domaine.nom}}</td>
                <td>{{domaine.nomService}}</td>
                <td>{{domaine.respService}}</td>
                <td>{{domaine.telRespService}}</td>
                <td>{{domaine.emailRespService}}</td>
                <td>{{domaine.nomDivision}}</td>
                <td>{{domaine.respDivision}}</td>
                <td>{{domaine.telRespDivision}}</td>
                <td>{{domaine.emailRespDivision}}</td>
                <td>{{domaine.nomDepart}}</td>
                <td>{{domaine.respDepart}}</td>
                <td>{{domaine.telRespDepart}}</td>
                <td>{{domaine.emailRespDepart}}</td>
                <td>{{domaine.nomDirection}}</td>
                <td>{{domaine.respDirection}}</td>
                <td>{{domaine.telDirecteur}}</td>
                <td>{{domaine.emailDirecteur}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/domaine', domaine.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/domaine', domaine.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'domaine', { outlets: { popup: domaine.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="domaines?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
