<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="incident">
            <h2><span>Incident</span> {{incident.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{incident.date}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{incident.type}}</span>
                </dd>
                <dt><span>Criticite</span></dt>
                <dd>
                    <span>{{incident.criticite}}</span>
                </dd>
                <dt><span>Sla</span></dt>
                <dd>
                    <span>{{incident.sla}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{incident.description}}</span>
                </dd>
                <dt><span>Adresse IP</span></dt>
                <dd>
                    <span>{{incident.adresseIP}}</span>
                </dd>
                <dt><span>Composant</span></dt>
                <dd>
                    <span>{{incident.composant}}</span>
                </dd>
                <dt><span>Responsable</span></dt>
                <dd>
                    <span>{{incident.responsable}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{incident.status}}</span>
                </dd>
                <dt><span>Equipement Name</span></dt>
                <dd>
                    <span>{{incident.equipementName}}</span>
                </dd>
                <dt><span>Message</span></dt>
                <dd>
                    <span>{{incident.message}}</span>
                </dd>
                <dt><span>Equipe</span></dt>
                <dd>
                    <div *ngIf="incident.equipeId">
                        <a [routerLink]="['/equipe', incident.equipeId, 'view']">{{incident.equipeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/incident', incident.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
