<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="division">
            <h2><span>Division</span> {{division.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Division Name</span></dt>
                <dd>
                    <span>{{division.divisionName}}</span>
                </dd>
                <dt><span>Division Chef</span></dt>
                <dd>
                    <span>{{division.divisionChef}}</span>
                </dd>
                <dt><span>Departement</span></dt>
                <dd>
                    <div *ngIf="division.departementId">
                        <a [routerLink]="['/departement', division.departementId, 'view']">{{division.departementId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/division', division.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
