<div>
    <h2 id="page-heading">
        <span>Absences</span>
        <button id="jh-create-entity" class="btn btn-danger float-right jh-create-entity create-absence" [routerLink]="['/absence/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Creer une Absence
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="absences?.length === 0">
        <span>No absences found</span>
    </div>
    <div class="table-responsive" *ngIf="absences?.length > 0">
        <table class="table table-striped">
            <thead class="bg-danger text-white">
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
          <!--  <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>-->
            <th jhiSortBy="startDate"><span>Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDate"><span>End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="employeId"><span>Employe</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let absence of absences ;trackBy: trackId">
                <!--<td><a [routerLink]="['/absence', absence.id, 'view' ]">{{absence.id}}</a></td>-->
                <td>{{absence.startDate |  date:'dd-MM-yyyy'}}</td>
                <td>{{absence.endDate | date:'dd-MM-yyyy'}}</td>
                <td>
                    <div *ngIf="absence.employeId">
                        <a [routerLink]="['../employe', absence.employeId , 'view' ]" >{{absence.employe.lastName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                       <!-- <button type="submit"
                                [routerLink]="['/absence', absence.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>-->
                        <button type="submit"
                                [routerLink]="['/absence', absence.id, 'edit']"
                                class="btn btn-dark btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'absence', { outlets: { popup: absence.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="absences?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
