<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="absence">
            <h2><span>Absence</span> {{absence.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Start Date</span></dt>
                <dd>
                    <span>{{absence.startDate}}</span>
                </dd>
                <dt><span>End Date</span></dt>
                <dd>
                    <span>{{absence.endDate}}</span>
                </dd>
                <dt><span>Employe</span></dt>
                <dd>
                    <div *ngIf="absence.employeId">
                        <a [routerLink]="['/employe', absence.employeId, 'view']">{{absence.employeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/absence', absence.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
