<div class="row justify-content-center">
    <div class="col-8">



        <ngb-tabset>

    <ngb-tab title="creer ou modifier astreinte">


        <ng-template ngbTabContent>
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">

                <h2 id="jhi-astreinte-heading">Inserer un seul astreinte</h2>
                <div>
                    <jhi-alert-error></jhi-alert-error>
                    <div class="form-group" [hidden]="!editForm.get('id').value">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id" name="id" formControlName="id"
                               readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_matricul">Matricul</label>
                        <input type="number" class="form-control" name="matricul" id="field_matricul"
                               formControlName="matricul"/>
                        <div *ngIf="editForm.get('matricul').invalid && (editForm.get('matricul').dirty || editForm.get('matricul').touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('matricul').errors.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.get('matricul')?.errors?.number">
                                This field should be a number.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="field_year">Year</label>
                        <input type="number" class="form-control" name="year" id="field_year"
                               formControlName="year"/>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_numberWeek">Number Week</label>
                        <input type="number" class="form-control" name="numberWeek" id="field_numberWeek"
                               formControlName="numberWeek"/>
                        <div *ngIf="editForm.get('numberWeek').invalid && (editForm.get('numberWeek').dirty || editForm.get('numberWeek').touched)">
                            <small class="form-text text-danger"
                                   *ngIf="editForm.get('numberWeek').errors.required">
                                This field is required.
                            </small>
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.get('numberWeek')?.errors?.number">
                                This field should be a number.
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="field_employe">Employe</label>
                        <select class="form-control" id="field_employe" name="employe" formControlName="employeId">
                            <option [ngValue]="null"></option>
                            <option [ngValue]="employeOption.id" *ngFor="let employeOption of employes; trackBy: trackEmployeById">{{employeOption.lastName}}</option>
                        </select>
                    </div>
                </div>

                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>

        </ng-template>
    </ngb-tab>

    <ngb-tab title="Importer ">

        <ng-template ngbTabContent>

            <form (ngSubmit)="uploadFile()">
                <h2>inserer un ou plusieurs astreinte </h2>
                <div class="form-group">
                    <jhi-alert-error></jhi-alert-error>
                   <div class="alert alert-info" style="margin: 1%">
                        <strong class="text-field"><!--Format fichier : matricul(sans 221);numberWeek(sans 60802);year(sans 60802)--></strong>
                    </div>
                    <input (change)="onFileChange($event)" accept="text/csv, application/csv" class="btn"
                           name="file"
                           type="file"/>
                </div>
                <div>
                    <button (click)="previousState()" class="btn btn-secondary" type="button">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button class="btn btn-primary"
                            type="submit">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
            </form>
        </ng-template>
    </ngb-tab>

</ngb-tabset>
    </div>
</div>
